<p class="notice_identify"><%= notice %></p>

<h1>Pokémon's Type</h1>

<div id="elements">
  <% @elements.each do |element| %>
    <%= render element %>
    
    <%# Make the button look nicer with bootstrap %>
    <%= link_to "Show this Type", element, class: "button" %>
  <% end %>
</div>

<br>
<br>

<h3>More Links</h3>
<%# Add in a link to add in new typing %>
<%= link_to "Add New Type", new_element_path, class: "button" %>
<%= link_to "Go Back to Pokédex", pokemons_path, class: "button" %>
