<%= simple_form_for(@pokemon) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <%# Add in each individual field to layout the edit section %>
  <div class="field form-group">
    <%= f.label :name, "Pokémon's Name" %>
    <%= f.text_field :name, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :ability, "Abilities" %>
    <%= f.text_field :ability, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :height, "Height (m)" %>
    <%= f.number_field :height, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :weight, "Weight (lbs)" %>
    <%= f.number_field :weight, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :male_chance, "Male Encounter %" %>
    <%= f.number_field :male_chance, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :female_chance, "Female Encounter %" %>
    <%= f.number_field :female_chance, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label "Image Upload" %>
    <br>
    <%= f.file_field :image %>
  </div>

  <%# Add in submit button w/ customize %>
  <div class="form-actions">
    <%= button_tag(type: 'submit', class: "btn btn-primary btn-lg") do %>
      Click to Submit
    <% end %>
  </div>
<% end %>
