<div id="<%= dom_id pokemon %>">
  <p>
    <strong>Name:</strong>
    <%= pokemon.name %>
    <strong>Ability:</strong>
    <%= pokemon.ability %>
    <strong>Height:</strong>
    <%= pokemon.height %>
    <strong>Weight:</strong>
    <%= pokemon.weight %>
    <strong>Male Rate:</strong>
    <%= pokemon.male_chance %>
    <strong>Female Rate:</strong>
    <%= pokemon.female_chance %>

    <%= image_tag pokemon.image.variant(:thumb) if pokemon.image.attached? %>
    
  </p>

</div>
