<h1>Editing a Pokémon</h1>

<%= render "form", pokemon: @pokemon %>

<br>

<%# Add in Divider to hold navigation to other pages %>
<div class="box_div">
  <h4 class="extra_title">Extra Link(s)</h4>
  <hr>

  <%# Add in buttons to guide user to different pages %>
  <%= link_to "Back to Pokédex", pokemons_path, class: "button" %>
  <%= link_to "Go to Pokémon Page", @pokemon, class: "button" %>

  <%# Add in buttons to choose which typing to change %>
  <% if @pokemon.elements.empty? %>
    <%= " No Type is Assign to this Pokémon " %>
  <% else %>
    <% @pokemon.elements.each do |ele| %>
      <%= link_to "Edit Type: #{ele.power}", edit_element_path(ele.id), class: "button" %>
    <% end %> 
  <% end %>
</div>

