<h1>Editing pokemon</h1>

<%= render "form", pokemon: @pokemon %>

<br>

<div>
  <%= link_to "Show this pokemon", @pokemon %> |
  <%= link_to "Back to pokemons", pokemons_path %> |
  <% if @pokemon.elements.empty? %>
    <%= "N/A" %>
  <% else %>
    <% @pokemon.elements.each do |e| %>
      <%= link_to "Edit #{e.power} Type", edit_element_path(e.id) %> |
    <% end %> 
  <% end %>
</div>
