<p class="notice_identify"><%= notice %></p>

<h1>Pokemons</h1>

<div id="pokemons">
  <% @pokemons.each do |pokemon| %>
    <%= render pokemon %>

    <%# Make the button look nicer with bootstrap %>
    <button type="button" class="btn btn-outline-secondary">
      <%= link_to "Show this pokemon", pokemon %>
    </button>
  <% end %>
</div>

<br>

<%= link_to "New pokemon", new_pokemon_path %> |
<%# Add in a link to add in new typing %>
<%= link_to "Add In New Type", new_element_path %>
